.conspiracy-container {
  border: 1px limegreen solid;
  box-shadow: 0 0 0 1px limegreen;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.conspiracy-left {
  flex-basis: 70%;
  display: inline-block;
  flex-direction: column;
}

.conspiracy-image {
  height: 150px;
}

.conspiracy-owner {
  display: inline;
}

.conspiracy-is-trash {
  font-size: xx-large;
}